/* MADE BY: ALEJANDRO BUENDIA ESCAMILLA*/
/* "ESTO LO HAGO PA' DIVERTIRME"*/

/* FUENTES */
@font-face {
    font-family: 'Great Vibes';
    src: url('../assets/fonts/GreatVibes-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../assets/fonts/Montserrat-Medium.ttf');
}

.vibes-font {
    font-family: 'Great Vibes';
}
/* GENERALES */
*{
    margin: 0px auto;
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

/* BARRA DE NAVEGACION */
#nav {
    background-color: bisque;
}
.menu {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex;
}

.item {
    cursor: pointer;
    font-family: 'Montserrat-Medium';
    transition: all 300ms;
    margin: 15px;
}

.item:hover{
    transform: scale(1.2);
}

.nav-icon {
    margin-bottom: 3px;
    margin-left: 3px;
}

.item-title {
    font-family: 'Great Vibes';
    font-size: 40px;
}

/* SECTION FOTOS PRINCIPAL */
.photo1{
    border-radius: 1.25rem !important;
    margin: 0px auto;
    box-shadow: 0px 0px 5px 1px black;
    
}

#main-photo{
    margin-top: 70px;
    background-image: url('../assets/images/wedding-4.png');
    background-size: 400px;
    background-repeat: repeat;
}


.card-style p {
    margin: 0px;
}

/* SECTION BANNER PHRASE */
.banner-phrase {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-size: cover;
    background-image: url('../assets/images/familia.jpg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
}

.phrase-box {
    font-family: 'Great Vibes';
    color: white;
    text-shadow: 3px 5px 2px #474747;
    font-size: 30px;
}

/* SECTION WHERE AND WHEN */
.where-style {
    margin-top: 30px;
}